<div id="errors"></div>
<form id="post">
	<div>
		<label for="title">Title:</label>
		<input type="text" name="title" id="post_title">
	</div>
	<div>
		<label for="content" id="content">Content:</label>
		<textarea name="content" id="post_content">
		</textarea>
	</div>
	<input type="submit" value="Save">
</form>
<div>
	<a href="/">Return to posts list</a>
</div>