<a href="#" id="first" class= "paginator_button">First</a>
<a href="#" id="previous" class= "paginator_button">Previous</a>

<div id="page_numbers">

</div>

<a href="#" id="next" class= "paginator_button">Next</a>
<a href="#" id="last" class= "paginator_button">Last</a>